/* Sight Page */

#sight-carousel img,
#sight-carousel svg {
    display: block;
    width: 100%;
    height: min(60vh, calc(37.5vw)); /* 24:9 */
    object-fit: cover;

    font-size: min(10vw, 30vh);
    /* Unselectable */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#sight-info div {
    display: inline-block;

    &:not(:first-child)::before {
        content: "．";
    }
}
