html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
    text-underline-offset: 0.125em;
}

.page .container-md {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/**
 *
 * Loading
 *
 */

#loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;

    background-color: rgb(255, 255, 255);

    font-size: 4rem;
    font-weight: 900;

    animation: colorChange 4s infinite alternate;
}

#loading span {
    display: inline-block;
    animation: loading-shack 0.7s infinite;
}

#loading img {
    animation: loading-rotate 1.25s linear infinite;
}

@keyframes loading-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loading-shack {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0.25em);
    }
}

/**
 *
 * Index Page
 *
 */

/* Map */

#background {
    fill: lightblue;
}

text {
    font-size: 3rem;
    font-weight: 600;
    text-anchor: middle;
    alignment-baseline: middle;

    /* Unselectable */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

[data-town="仁愛區"] {
    --fill-color: #d27a74;
    --fill-color-hover: #ebc4c1;
}

[data-town="信義區"] {
    --fill-color: #e0935e;
    --fill-color-hover: #f1cfb7;
}

[data-town="中正區"] {
    --fill-color: #e0ca48;
    --fill-color-hover: #f1e7ad;
}

[data-town="中山區"] {
    --fill-color: #83c262;
    --fill-color-hover: #c8e4b9;
}

[data-town="暖暖區"] {
    --fill-color: #69bcce;
    --fill-color-hover: #bce1e9;
}

[data-town="七堵區"] {
    --fill-color: #9a66be;
    --fill-color-hover: #d2bbe2;
}

[data-town="安樂區"] {
    --fill-color: #667dbe;
    --fill-color-hover: #bbc5e2;
}

.main-city a {
    text-decoration: none;
}

.main-city [data-town] {
    fill: var(--fill-color);
    stroke: black;
}

.main-city :hover [data-town] {
    fill: var(--fill-color-hover);
}

.main-city text {
    fill: black;
}

.other-city :not(text):empty {
    fill: #ebebeb;
    stroke: #c5c5c5;
}

.other-city text {
    fill: gray;
}

#scale-bar :not(text),
#indicator :not(text) {
    fill: black;
    stroke: black;

    &:first-child {
        fill: white;
    }
}

#indicator circle {
    fill: none;
}

#scale-bar text,
#indicator text {
    font-size: 1rem;
    font-weight: 400;
}

#scale-bar text {
    alignment-baseline: text-before-edge;
}

#scale-bar text#unit {
    text-anchor: start;
}

#indicator text {
    alignment-baseline: text-after-edge;
}

/* Links */

.districts a {
    color: var(--bs-link-color);
    text-decoration: none;
    margin-right: 1em;
    word-break: keep-all;

    &::before {
        content: "[";
        color: black;
        margin-right: 0.125em;
    }
    &::after {
        content: "]";
        color: black;
        margin-left: 0.125em;
    }
}

/* Header */

h2:hover::after,
h3:hover::after,
h4:hover::after,
h5:hover::after {
    content: "#";
    margin-left: 0.25em;
    color: gray;
}

/**
 *
 * List Page
 *
 */

.card img {
    object-fit: cover;
}

.card p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card i.bi {
    margin-right: 0.5em;
}

.card {
    --margin-size: 1rem;
    width: calc(100% - var(--margin-size));
}

/* sm */
@media (min-width: 576px) {
    .card {
        width: calc(50% - var(--margin-size));
    }
}

/* lg */
@media (min-width: 992px) {
    .card {
        width: calc(33% - var(--margin-size));
    }
}

/* xl */
@media (min-width: 1200px) {
    .card {
        width: calc(25% - var(--margin-size));
    }
}

/**
 *
 * Sights Page
 *
 */

#sight-carousel img,
#sight-carousel svg {
    display: block;
    width: 100%;
    height: min(60vh, calc(37.5vw)); /* 24:9 */
    object-fit: cover;
}

#sight-carousel text {
    font-size: min(10vw, 30vh) !important;
}

#sight-info div {
    display: inline-block;

    &:not(:first-child)::before {
        content: "．";
    }
}
